footer {
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background: #826442;
    color: #F5F5DC;
}

footer a {
    color: inherit;
    margin-left: 0.5rem;
    animation: none 0.4s linear forwards;
}

footer p {
    margin: 0;
    margin-left: 0.4em;
}
